In [3]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import gc

#supress warnings
import warnings
warnings.filterwarnings("ignore")

In [7]:
accident_data = pd.read_csv("C:\\Users\\sarap\\Desktop\\BDMG-vehicle-accidents\\datasets\\US_Accidents_March23\\US_Accidents_March23.csv")

## EDA

In [ ]:
#EDA
#print number and percentage of null entries per variable
print('Null values per variable')
for column in accident_data.columns:
    print('{}: {} ({}%)'.format(column,pd.isnull(accident_data[column]).sum(),(pd.isnull(accident_data[column]).sum()/len(accident_data))*100))

In [ ]:
#EDA
#look at distribution of data
accident_data.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,7.728394e+06,7.728394e+06,7.728394e+06,4.325632e+06,4.325632e+06,7.728394e+06,7.564541e+06,5.729375e+06,7.554250e+06,7.587715e+06,7.551296e+06,7.157161e+06,5.524808e+06
mean,2.212384e+00,3.620119e+01,-9.470255e+01,3.626183e+01,-9.572557e+01,5.618423e-01,6.166329e+01,5.825105e+01,6.483104e+01,2.953899e+01,9.090376e+00,7.685490e+00,8.407210e-03
std,4.875313e-01,5.076079e+00,1.739176e+01,5.272905e+00,1.810793e+01,1.776811e+00,1.901365e+01,2.238983e+01,2.282097e+01,1.006190e+00,2.688316e+00,5.424983e+00,1.102246e-01
min,1.000000e+00,2.455480e+01,-1.246238e+02,2.456601e+01,-1.245457e+02,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.339963e+01,-1.172194e+02,3.346207e+01,-1.177543e+02,0.000000e+00,4.900000e+01,4.300000e+01,4.800000e+01,2.937000e+01,1.000000e+01,4.600000e+00,0.000000e+00
50%,2.000000e+00,3.582397e+01,-8.776662e+01,3.618349e+01,-8.802789e+01,3.000000e-02,6.400000e+01,6.200000e+01,6.700000e+01,2.986000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.008496e+01,-8.035368e+01,4.017892e+01,-8.024709e+01,4.640000e-01,7.600000e+01,7.500000e+01,8.400000e+01,3.003000e+01,1.000000e+01,1.040000e+01,0.000000e+00
max,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,4.417500e+02,2.070000e+02,2.070000e+02,1.000000e+02,5.863000e+01,1.400000e+02,1.087000e+03,3.647000e+01

In [2]:
#EDA
#checking to see if the missing end lat/long are due having same start lat/long
accident_data[(accident_data.Start_Lat == accident_data.End_Lat) & (accident_data.Start_Lng == accident_data.End_Lng)]

NameError: name 'accident_data' is not defined

In [ ]:
#EDA
#check to see if missing values are in same rows
accident_data[np.logical_xor(accident_data.End_Lat.isna(),accident_data.End_Lng.isna()) == True]

Empty DataFrame
Columns: [ID, Source, Severity, Start_Time, End_Time, Start_Lat, Start_Lng, End_Lat, End_Lng, Distance(mi), Description, Street, City, County, State, Zipcode, Country, Timezone, Airport_Code, Weather_Timestamp, Temperature(F), Wind_Chill(F), Humidity(%), Pressure(in), Visibility(mi), Wind_Direction, Wind_Speed(mph), Precipitation(in), Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight]
Index: []

[0 rows x 46 columns]

In [ ]:
#EDA
#look through some of the variables with low number of unique entries
#Side has ' '
#Wind direction has repeats with different spellings
#Weather condition has some repeats (e.g., 'heavy rain shower' and 'heavy rain showers')
for col in accident_data.columns:
    print('{}: {}'.format(col,accident_data[col].unique()))

ID: ['A-1' 'A-2' 'A-3' ... 'A-7777759' 'A-7777760' 'A-7777761']
Source: ['Source2' 'Source3' 'Source1']
Severity: [3 2 1 4]
Start_Time: ['2016-02-08 05:46:00' '2016-02-08 06:07:59' '2016-02-08 06:49:27' ...
 '2019-08-23 19:11:30' '2019-08-23 19:00:21' '2019-08-23 18:52:06']
End_Time: ['2016-02-08 11:00:00' '2016-02-08 06:37:59' '2016-02-08 07:19:27' ...
 '2019-08-23 19:28:49' '2019-08-23 19:29:42' '2019-08-23 19:21:31']
Start_Lat: [39.865147 39.928059 39.063148 ... 34.120911 33.943599 34.239104]
Start_Lng: [ -84.058723  -82.831184  -84.032608 ... -118.416176 -117.14806
 -117.84779 ]
End_Lat: [      nan 40.11206  39.86501  ... 33.943599 34.239104 33.98311 ]
End_Lng: [        nan  -83.03187   -84.04873  ... -118.416176 -118.39565
 -117.23934 ]
Distance(mi): [1.0000e-02 0.0000e+00 1.3200e+00 ... 1.1622e+01 2.0246e+01 3.6350e+01]
Description: ['Right lane blocked due to accident on I-70 Eastbound at Exit 41 OH-235 State Route 4.'
 'Accident on Brice Rd at Tussing Rd. Expect delays.'
 'Accident on OH-32 State Route 32 Westbound at Dela Palma Rd. Expect delays.'
 ... 'Ramp closed to Bristol St - Road closed due to accident.'
 'At Friars Rd - Accident. Center lane blocked.'
 'Ramp closed to The City Dr/Exit 14A - Road closed due to accident.']
Street: ['I-70 E' 'Brice Rd' 'State Route 32' ... ' N Digital Dr' ' San Marlo Way'
 '473-401 Cutoff Rd']
City: ['Dayton' 'Reynoldsburg' 'Williamsburg' ... 'Ness City' 'Clarksdale'
 'American Fork-Pleasant Grove']
County: ['Montgomery' 'Franklin' 'Clermont' ... 'Woods' 'Mellette' 'Ness']
State: ['OH' 'WV' 'CA' 'FL' 'GA' 'SC' 'NE' 'IA' 'IL' 'MO' 'WI' 'IN' 'MI' 'NJ'
 'NY' 'CT' 'MA' 'RI' 'NH' 'PA' 'KY' 'MD' 'VA' 'DC' 'DE' 'TX' 'WA' 'OR'
 'AL' 'NC' 'AZ' 'TN' 'LA' 'MN' 'CO' 'OK' 'NV' 'UT' 'KS' 'NM' 'AR' 'MS'
 'ME' 'VT' 'WY' 'ID' 'ND' 'MT' 'SD']
Zipcode: ['45424' '43068-3402' '45176' ... '97827-9687' '97022-8710' '94401-2213']
Country: ['US']
Timezone: ['US/Eastern' 'US/Pacific' nan 'US/Central' 'US/Mountain']
Airport_Code: ['KFFO' 'KCMH' 'KI69' ... 'KY22' 'KAVK' 'KICR']
Weather_Timestamp: ['2016-02-08 05:58:00' '2016-02-08 05:51:00' '2016-02-08 06:56:00' ...
 '2019-08-23 12:35:00' '2019-08-23 15:18:00' '2019-08-23 01:20:00']
Temperature(F): [ 3.690e+01  3.790e+01  3.600e+01  3.510e+01  3.400e+01  3.330e+01
  3.740e+01  3.560e+01  3.380e+01  3.700e+01  3.990e+01  3.920e+01
  3.420e+01  3.310e+01  2.300e+01  2.280e+01  2.660e+01  2.100e+01
  1.990e+01  2.500e+01  2.610e+01  2.480e+01  2.190e+01  2.120e+01
  2.250e+01  3.200e+01  2.700e+01  1.620e+01  1.580e+01  1.540e+01
  1.400e+01  1.510e+01  1.600e+01  1.760e+01  1.710e+01  7.000e+00
  6.100e+00  5.000e+00  1.200e+01  9.000e+00  7.500e+00  1.800e+01
  1.090e+01  1.360e+01  1.040e+01  1.850e+01  2.160e+01  1.900e+01
  2.550e+01  1.000e+01  8.100e+00  1.290e+01  2.410e+01  3.090e+01
  3.360e+01  3.290e+01  3.220e+01  3.000e+01  3.110e+01  3.240e+01
  3.040e+01  2.840e+01  2.800e+01  3.020e+01  3.070e+01  3.900e+00
  2.590e+01  2.890e+01  3.900e+01  3.540e+01  3.490e+01  4.350e+01
  4.100e+01  4.280e+01  4.300e+01  4.770e+01  4.800e+01  4.960e+01
  5.380e+01  5.700e+01  5.940e+01  4.640e+01  6.510e+01  2.950e+01
  2.790e+01  3.250e+01  4.870e+01  4.690e+01  4.750e+01  3.180e+01
  3.830e+01  4.840e+01  5.400e+01  5.310e+01  5.000e+01  4.460e+01
  4.210e+01  4.060e+01  4.900e+01  4.410e+01  4.600e+01  4.500e+01
  5.200e+01  3.340e+01  3.430e+01  6.310e+01  6.280e+01  5.410e+01
  5.250e+01  4.890e+01  4.660e+01  5.430e+01  5.360e+01  5.590e+01
  4.820e+01  2.980e+01  2.520e+01  3.060e+01  3.160e+01  6.010e+01
  5.790e+01  6.210e+01  5.900e+01  6.240e+01  5.880e+01  5.110e+01
  5.050e+01  5.540e+01  5.520e+01  5.500e+01  5.670e+01  6.120e+01
  6.600e+01  7.020e+01  6.800e+01  7.160e+01  7.110e+01  6.910e+01
  6.690e+01  6.300e+01  6.100e+01  6.400e+01  7.000e+01  7.300e+01
  6.980e+01  5.720e+01  5.920e+01  6.080e+01  5.990e+01  5.850e+01
  5.760e+01  5.860e+01  5.650e+01        nan  4.550e+01  4.590e+01
  5.180e+01  5.740e+01  6.580e+01  6.490e+01  6.780e+01  6.440e+01
  6.040e+01  6.260e+01  3.780e+01  4.680e+01  3.970e+01  5.580e+01
  7.500e+01  8.290e+01  7.590e+01  7.520e+01  8.060e+01  8.600e+01
  7.390e+01  8.200e+01  8.400e+01  8.800e+01  8.240e+01  8.420e+01
  8.780e+01  7.700e+01  8.960e+01  9.000e+01  8.710e+01  9.140e+01
  9.190e+01  9.320e+01  9.390e+01  7.900e+01  9.810e+01  9.680e+01
  9.700e+01  7.880e+01  9.900e+01  9.500e+01  9.860e+01  8.010e+01
  8.100e+01  7.810e+01  7.200e+01  7.340e+01  6.620e+01  8.530e+01
  8.910e+01  9.100e+01  8.490e+01  7.140e+01  9.610e+01  1.004e+02
  9.300e+01  9.660e+01  8.920e+01  1.000e+02  1.040e+02  1.009e+02
  1.022e+02  1.020e+02  1.029e+02  7.360e+01  7.750e+01  6.170e+01
  7.680e+01  5.770e+01  6.820e+01  7.250e+01  8.670e+01  1.036e+02
  1.026e+02  7.740e+01  1.060e+02  8.190e+01  7.930e+01  9.570e+01
  6.030e+01  9.950e+01  8.110e+01  8.870e+01  8.760e+01  8.080e+01
  4.710e+01  4.140e+01  5.610e+01  5.320e+01  3.580e+01  4.370e+01
  3.610e+01  5.040e+01  3.940e+01  4.030e+01  5.470e+01  4.150e+01
  5.810e+01  3.630e+01  5.290e+01  4.190e+01  4.320e+01  7.830e+01
  6.220e+01  6.420e+01  5.090e+01  6.840e+01  6.460e+01  6.670e+01
  6.640e+01  6.870e+01  5.680e+01  5.950e+01  7.430e+01  5.560e+01
  4.440e+01  5.160e+01  4.860e+01  6.150e+01  6.930e+01  6.480e+01
  8.620e+01  5.450e+01  8.350e+01  7.540e+01  4.730e+01  5.490e+01
  6.550e+01  7.790e+01  5.970e+01  6.190e+01  6.890e+01  8.130e+01
  7.630e+01  8.560e+01  8.280e+01  6.530e+01  9.540e+01  8.690e+01
  8.830e+01  7.050e+01  6.960e+01  7.380e+01  6.390e+01  7.480e+01
  6.350e+01  5.830e+01  9.090e+01  6.710e+01  7.230e+01  5.220e+01
  6.130e+01  4.980e+01  8.440e+01  7.950e+01  5.630e+01  8.020e+01
  7.970e+01  7.210e+01  6.330e+01  7.920e+01  7.650e+01  6.850e+01
  8.470e+01  7.990e+01  9.270e+01  7.270e+01  6.940e+01  8.700e+01
  8.370e+01  8.850e+01  9.600e+01  9.400e+01  9.210e+01  9.840e+01
  1.058e+02  8.500e+01  9.250e+01  9.070e+01  9.010e+01  8.300e+01
  7.030e+01  8.510e+01  8.000e+01  7.660e+01  9.340e+01  8.900e+01
  9.770e+01  7.400e+01  7.410e+01  7.800e+01  7.570e+01  9.200e+01
  9.160e+01  9.410e+01  7.470e+01  6.660e+01  6.760e+01  7.600e+01
  8.550e+01  1.090e+02  6.500e+01  9.280e+01  1.063e+02  7.770e+01
  9.430e+01  1.010e+02  1.051e+02  7.450e+01  1.130e+02  9.590e+01
  1.071e+02  8.730e+01  9.550e+01  9.880e+01  7.860e+01  1.006e+02
  9.520e+01  9.460e+01  7.180e+01  1.013e+02  1.024e+02  1.018e+02
  9.730e+01  9.180e+01  8.650e+01  8.380e+01  7.070e+01  8.170e+01
  9.450e+01  6.200e+01  6.000e+01  7.100e+01  9.120e+01  8.260e+01
  7.090e+01  7.290e+01  7.720e+01  8.150e+01  7.560e+01  6.700e+01
  5.800e+01  7.610e+01  9.030e+01  7.320e+01  7.840e+01  1.110e+02
  9.910e+01  9.630e+01  1.008e+02  8.460e+01  1.099e+02  9.640e+01
  1.030e+02  1.050e+02  1.067e+02  1.094e+02  1.112e+02  1.070e+02
  1.017e+02  1.080e+02  1.085e+02  9.230e+01  9.990e+01  8.820e+01
  9.800e+01  9.930e+01  8.640e+01  8.330e+01  1.031e+02  1.033e+02
  5.600e+01  5.300e+01  5.130e+01  5.340e+01  4.950e+01  3.870e+01
  4.700e+01  4.400e+01  5.100e+01  4.930e+01  5.140e+01  4.780e+01
  4.330e+01  5.270e+01  4.910e+01  4.530e+01  3.520e+01  3.650e+01
  3.720e+01  3.450e+01  4.420e+01  4.240e+01  4.390e+01  4.230e+01
  5.070e+01  5.230e+01  6.370e+01  6.060e+01  4.480e+01  4.620e+01
  4.200e+01  3.960e+01  3.800e+01  3.200e+00  2.970e+01  4.050e+01
  4.000e+01  7.120e+01  6.750e+01  8.980e+01  6.570e+01  6.900e+01
  8.040e+01  8.310e+01  6.730e+01  4.010e+01  5.020e+01  4.510e+01
  4.120e+01  9.790e+01  9.720e+01  1.047e+02  8.220e+01  9.480e+01
  9.050e+01  8.940e+01  8.580e+01  1.076e+02  1.027e+02  1.141e+02
  8.890e+01  9.750e+01  9.820e+01  9.360e+01  4.260e+01  8.740e+01
  9.370e+01  1.101e+02  1.062e+02  1.072e+02  1.096e+02  1.105e+02
  1.103e+02  1.128e+02  1.108e+02  1.042e+02  1.092e+02  3.760e+01
  3.470e+01  3.880e+01  4.170e+01  3.130e+01  2.460e+01  3.670e+01
  2.750e+01  2.820e+01  2.570e+01  2.880e+01  4.570e+01  2.340e+01
  2.530e+01  2.910e+01  1.810e+01  1.830e+01  1.630e+01  1.780e+01
  2.070e+01  2.210e+01  2.440e+01  2.320e+01  1.130e+01  2.370e+01
  2.640e+01  8.600e+00  6.600e+00  1.170e+01  2.350e+01  1.000e+00
  1.740e+01  9.500e+00  1.900e+00  1.150e+01  1.450e+01  1.940e+01
  2.390e+01  2.010e+01  1.720e+01  2.030e+01  1.960e+01  1.400e+00
  1.220e+01  2.080e+01  2.170e+01  1.920e+01  1.310e+01 -6.000e+00
 -7.600e+00 -7.100e+00 -4.000e+00  3.000e+00  1.020e+01  1.240e+01
  7.200e+00  9.100e+00  8.800e+00  7.900e+00  9.300e+00  1.180e+01
  1.420e+01  6.800e+00 -2.000e+00  2.710e+01  2.930e+01  2.620e+01
  2.680e+01  2.730e+01  4.080e+01  3.850e+01  1.470e+01  1.890e+01
  1.690e+01  1.380e+01  1.440e+01  1.350e+01  8.200e+00  7.300e+00
  8.400e+00  1.110e+01 -0.000e+00 -2.200e+00  2.300e+00  5.500e+00
  5.900e+00  1.650e+01  3.270e+01  1.270e+01  1.330e+01  1.490e+01
  2.230e+01  1.670e+01  3.150e+01  2.860e+01  3.810e+01 -2.900e+00
 -9.000e-01 -6.000e-01  7.000e-01  3.600e+00  2.700e+00  1.200e+00
  4.600e+00  1.560e+01  4.800e+00 -1.300e+01 -5.100e+00 -1.190e+01
 -9.000e+00 -7.400e+00 -4.000e-01 -2.600e+00  1.800e+00  4.100e+00
  5.700e+00  1.260e+01  9.700e+00  1.530e+01  2.050e+01  3.700e+00
 -2.000e-01  6.400e+00  1.980e+01  1.326e+02  2.430e+01  1.870e+01
  7.700e+00  6.300e+00  9.900e+00  5.400e+00 -2.400e+00  2.260e+01
  1.060e+01  2.770e+01 -8.000e+00 -7.780e+01  5.200e+00  3.400e+00
  2.140e+01  1.080e+01  3.300e+01  1.100e+01  1.500e+01  3.500e+01
  2.600e+01  1.300e+01  1.436e+02  1.364e+02  1.166e+02  1.220e+02
  1.184e+02  1.148e+02  1.328e+02  1.616e+02  1.400e+02  9.970e+01
  2.500e+00  1.238e+02  3.100e+01  2.200e+01  1.150e+02  1.038e+02
  1.119e+02  1.002e+02  1.161e+02  1.069e+02  1.670e+02  1.100e+02
 -3.500e+01  1.120e+02  1.140e+02  2.000e+01  2.900e+01  2.400e+01
  1.700e+01  8.000e+00  6.000e+00  4.000e+00  2.000e+00 -5.000e+00
 -1.000e+01 -1.000e+00 -3.700e+01 -3.000e+00 -1.700e+01 -1.100e+01
 -2.400e+01 -7.000e+00 -1.200e+01 -1.600e+01 -1.500e+01 -1.400e+01
 -2.300e+01 -1.800e+01  1.960e+02  1.170e+02  1.160e+02  1.360e+02
 -1.900e+01 -2.600e+01 -2.100e+01 -2.500e+01 -2.000e+01 -2.200e+01
 -3.600e+01  1.200e+02  1.890e+02  1.740e+02  2.030e+02  1.270e+02
  1.230e+02  1.190e+02 -8.900e+01 -3.300e+01 -1.410e+01 -9.900e+00
 -5.800e+00 -8.000e-01 -1.030e+01 -9.400e+00 -8.100e+00 -1.700e+00
 -1.120e+01  9.000e-01 -1.320e+01 -1.620e+01  1.000e-01 -3.500e+00
 -4.500e+00  2.800e+00  4.300e+00 -1.230e+01 -1.660e+01 -2.020e+01
 -1.300e+00 -3.100e+00 -1.520e+01  4.500e+00 -4.700e+00 -4.400e+00
  5.000e-01 -1.610e+01 -5.300e+00 -1.800e+00 -2.310e+01 -2.700e+01
 -1.890e+01 -1.590e+01 -3.280e+01 -5.600e+00 -2.560e+01 -1.840e+01
 -1.820e+01 -2.090e+01 -2.380e+01 -1.480e+01 -2.790e+01 -2.510e+01
 -2.240e+01 -2.900e+01 -1.500e+00  3.000e-01 -4.900e+00 -7.200e+00
 -1.250e+01 -1.160e+01 -8.500e+00 -8.700e+00 -8.900e+00 -7.800e+00
 -6.700e+00 -1.010e+01 -1.140e+01 -1.070e+01 -5.400e+00 -4.200e+00
 -2.700e+00 -1.280e+01 -1.340e+01 -1.170e+01  2.100e+00 -3.300e+00
 -6.500e+00 -6.200e+00 -1.260e+01 -1.080e+01 -1.050e+01 -6.900e+00
 -9.600e+00 -1.390e+01 -1.930e+01 -1.530e+01 -2.650e+01 -2.110e+01
 -2.490e+01 -2.450e+01 -2.340e+01 -2.130e+01 -2.740e+01 -1.680e+01
 -2.420e+01 -2.150e+01 -2.990e+01  1.292e+02  1.011e+02  1.049e+02
  1.015e+02  1.044e+02  1.053e+02  1.054e+02  1.045e+02  1.035e+02
  1.056e+02  1.078e+02  1.117e+02  1.114e+02  1.074e+02  1.081e+02
  1.139e+02  1.180e+02  1.134e+02  1.116e+02  1.274e+02  1.087e+02
 -6.300e+00 -3.600e+00 -1.100e+00 -8.300e+00  1.600e+00 -1.440e+01
  1.065e+02  1.580e+02  1.098e+02 -3.100e+01 -3.800e+01 -2.800e+01
  1.620e+02  2.070e+02  1.720e+02 -3.000e+01 -4.000e+01 -4.500e+01
  1.280e+02 -3.200e+01 -4.400e+01  1.380e+02 -5.800e+01 -5.000e+01
  1.706e+02 -9.800e+00 -2.330e+01 -9.200e+00 -1.350e+01 -1.790e+01
  1.688e+02 -1.210e+01 -3.800e+00]
Wind_Chill(F): [  nan  33.3  31.  ... -65.9 -20.3 -26.9]
Humidity(%): [ 91. 100.  96.  89.  97.  99.  93.  76.  86.  70.  65.  75.  92.  85.
  88.  84.  90.  81.  82.  73.  77.  79.  78.  56.  74.  87.  59.  83.
  80.  51.  54.  68.  62.  49.  57.  66.  71.  44.  61.  58.  43.  98.
  94.  72.  67.  69.  63.  60.  53.  55.  52.  50.  45.  37.  47.  34.
  46.  64.  35.  32.  40.  41.  42.  39.  48.  31.  95.  nan  38.  30.
  26.  23.  25.  21.  24.  20.  29.  27.  19.  18.  17.  12.  11.  16.
  33.  13.  10.  15.  22.  36.  28.  14.   9.   8.   4.   7.   6.   5.
   1.   2.   3.]
Pressure(in): [29.68 29.65 29.67 ... 31.13 31.06 21.61]
Visibility(mi): [1.00e+01 9.00e+00 6.00e+00 7.00e+00 5.00e+00 3.00e+00 2.00e+00 8.00e+00
 2.50e+00 4.00e+00 1.50e+00 8.00e-01 1.80e+00 1.00e+00 1.20e+00 5.00e-01
 2.00e-01 2.80e+00      nan 3.00e+01 2.50e+01 2.00e+01 4.00e+01 8.00e+01
 1.00e-01 1.50e+01 7.00e-01 1.90e-01 4.00e-01 4.20e+00 1.20e-01 1.20e+01
 3.20e+00 5.50e+00 0.00e+00 2.50e-01 2.20e+00 7.50e-01 1.05e+02 6.00e-01
 1.10e+00 3.50e+00 1.30e+01 1.10e+01 1.05e+01 1.11e+02 1.40e+00 1.90e+00
 9.00e-01 6.30e-01 8.80e-01 3.80e-01 1.40e+01 6.00e+01 5.00e+01 6.00e-02
 7.50e+01 6.50e+01 1.00e+02 1.90e+01 9.80e+01 7.00e+01 2.30e+01 1.60e+01
 4.20e+01 3.10e-01 7.80e+01 3.50e+01 4.50e+01 7.60e+01 1.01e+02 1.60e+00
 9.00e+01 2.10e+00 3.70e+00 7.20e+01 5.80e+01 4.50e+00 6.70e+01 3.40e+01
 6.20e+00 1.40e+02 3.60e+01 4.60e+01 5.40e+01 1.20e+02 9.90e-01 4.70e+01
 2.20e+01 1.10e+02 1.30e+02 6.30e+01 4.30e+01]
Wind_Direction: ['Calm' 'SW' 'SSW' 'WSW' 'WNW' 'NW' 'West' 'NNW' 'NNE' 'South' 'North'
 'Variable' 'SE' 'SSE' 'ESE' 'East' 'NE' 'ENE' 'E' 'W' nan 'S' 'VAR'
 'CALM' 'N']
Wind_Speed(mph): [      nan 3.500e+00 4.600e+00 1.200e+00 5.800e+00 2.300e+00 6.900e+00
 8.100e+00 1.040e+01 9.200e+00 1.150e+01 1.380e+01 1.500e+01 1.270e+01
 1.960e+01 2.190e+01 1.840e+01 2.530e+01 1.610e+01 2.420e+01 2.300e+01
 1.730e+01 2.760e+01 2.990e+01 2.070e+01 1.000e+01 2.650e+01 5.000e+00
 3.110e+01 3.340e+01 2.880e+01 3.570e+01 4.260e+01 3.680e+01 3.220e+01
 4.030e+01 1.427e+02 7.360e+01 6.900e+01 3.800e+01 8.000e+00 9.000e+00
 3.000e+00 1.400e+01 7.000e+00 0.000e+00 1.200e+01 6.000e+00 1.300e+01
 1.000e+00 2.000e+00 4.720e+01 1.700e+01 1.600e+01 2.100e+01 2.800e+01
 2.000e+01 2.600e+01 1.800e+01 2.200e+01 5.750e+01 3.450e+01 2.417e+02
 2.400e+01 1.001e+02 1.231e+02 8.228e+02 4.140e+01 1.623e+02 6.670e+01
 3.000e+01 2.900e+01 1.266e+02 1.277e+02 2.500e+01 3.910e+01 5.410e+01
 9.780e+01 7.600e+01 1.749e+02 4.490e+01 3.200e+01 3.300e+01 3.100e+01
 5.400e+01 1.320e+02 3.500e+01 4.300e+01 3.900e+01 3.700e+01 3.600e+01
 4.100e+01 5.900e+01 6.400e+01 7.700e+01 4.000e+01 4.400e+01 1.880e+02
 5.300e+01 5.200e+01 7.900e+01 5.100e+01 6.800e+01 4.900e+01 6.100e+01
 7.000e+01 4.600e+01 4.500e+01 2.430e+02 1.190e+02 7.500e+01 1.290e+02
 1.280e+02 6.700e+01 1.160e+02 8.200e+01 1.450e+02 9.800e+01 6.600e+01
 1.170e+02 4.800e+01 9.300e+01 4.700e+01 2.300e+02 2.550e+02 5.800e+01
 1.610e+02 1.130e+02 1.270e+02 1.570e+02 1.750e+02 4.950e+01 4.370e+01
 7.710e+01 5.180e+01 1.162e+02 1.197e+02 7.031e+02 7.940e+01 2.543e+02
 1.105e+02 5.060e+01 1.243e+02 3.280e+02 5.800e+02 1.358e+02 1.289e+02
 4.830e+01 2.083e+02 6.210e+01 2.140e+02 1.254e+02 6.000e+01 5.870e+01
 8.170e+01 1.669e+02 8.520e+01 4.718e+02 1.900e+02 5.500e+01 8.100e+01
 1.390e+02 1.000e+02 1.220e+02 1.050e+02 1.850e+02 1.070e+02 1.210e+02
 1.300e+02 1.250e+02 8.120e+02 1.087e+03 1.100e+02 2.110e+02 2.320e+02
 1.310e+02 9.840e+02 5.180e+02 1.690e+02 5.980e+01 1.140e+02 9.900e+01
 2.451e+02 1.415e+02 1.420e+02]
Precipitation(in): [2.000e-02 0.000e+00       nan 3.000e-02 1.000e-02 7.000e-02 4.000e-02
 6.000e-02 1.800e-01 5.000e-02 1.600e-01 9.000e-02 1.000e-01 1.100e-01
 2.200e-01 8.000e-02 1.900e-01 1.500e-01 1.200e-01 1.400e-01 2.100e-01
 2.900e-01 1.300e-01 4.100e-01 2.000e-01 4.900e-01 3.100e-01 3.200e-01
 1.700e-01 2.500e-01 2.400e-01 2.300e-01 3.400e-01 4.400e-01 5.100e-01
 3.600e-01 2.700e-01 2.600e-01 5.500e-01 4.300e-01 4.700e-01 3.500e-01
 2.800e-01 4.200e-01 3.000e-01 3.300e-01 3.800e-01 5.600e-01 4.000e-01
 7.000e-01 4.600e-01 3.700e-01 5.700e-01 5.400e-01 6.100e-01 1.310e+00
 7.600e-01 1.680e+00 1.040e+00 1.080e+00 8.100e-01 6.800e-01 6.700e-01
 6.900e-01 4.500e-01 7.100e-01 1.020e+00 5.200e-01 8.600e-01 8.900e-01
 5.000e-01 9.000e-01 1.330e+00 5.900e-01 6.300e-01 7.200e-01 7.700e-01
 1.200e+00 5.800e-01 3.900e-01 7.800e-01 8.300e-01 8.500e-01 5.300e-01
 1.010e+00 4.800e-01 1.270e+00 6.200e-01 6.500e-01 6.400e-01 7.300e-01
 8.700e-01 1.700e+00 8.000e-01 9.100e-01 1.060e+00 9.500e-01 8.200e-01
 8.400e-01 1.720e+00 1.890e+00 1.160e+00 1.530e+00 9.990e+00 1.002e+01
 1.001e+01 9.940e+00 9.920e+00 9.930e+00 1.011e+01 9.850e+00 9.960e+00
 9.980e+00 1.005e+01 1.014e+01 1.004e+01 9.750e+00 9.970e+00 9.790e+00
 1.000e+01 9.900e+00 9.830e+00 1.210e+00 1.010e+01 1.013e+01 9.640e+00
 9.840e+00 9.880e+00 9.950e+00 1.006e+01 6.000e-01 9.300e-01 1.450e+00
 1.030e+00 1.170e+00 9.800e-01 1.340e+00 1.000e+00 1.370e+00 1.130e+00
 2.280e+00 6.600e-01 1.960e+00 2.940e+00 1.320e+00 7.900e-01 9.900e-01
 1.280e+00 2.390e+00 1.110e+00 1.460e+00 2.820e+00 1.390e+00 1.430e+00
 1.150e+00 9.400e-01 1.290e+00 9.910e+00 7.400e-01 2.750e+00 9.200e-01
 1.100e+00 8.800e-01 9.860e+00 1.009e+01 9.330e+00 1.250e+00 1.120e+00
 1.580e+00 1.600e+00 1.400e+00 2.690e+00 1.440e+00 7.500e-01 2.440e+00
 9.650e+00 1.650e+00 1.140e+00 1.090e+00 1.640e+00 9.700e-01 1.630e+00
 1.230e+00 1.050e+00 2.050e+00 1.240e+00 1.360e+00 2.740e+00 1.610e+00
 1.070e+00 1.220e+00 1.710e+00 1.180e+00 1.470e+00 1.560e+00 1.850e+00
 3.190e+00 3.000e+00 2.010e+00 1.570e+00 1.500e+00 9.600e-01 1.760e+00
 3.647e+01 1.520e+00 1.540e+00 2.310e+00 1.730e+00 1.550e+00 2.397e+01
 1.350e+00 1.820e+00 3.870e+00 1.490e+00 2.160e+00 1.950e+00 1.980e+00
 1.260e+00 1.990e+00 2.130e+00 1.690e+00 2.420e+00 2.180e+00 1.410e+00
 1.420e+00 1.380e+00 2.140e+00 2.870e+00 1.860e+00 1.480e+00 2.380e+00
 1.590e+00 1.620e+00 1.770e+00 3.130e+00 1.930e+00 1.300e+00 4.890e+00
 2.610e+00 1.190e+00 1.790e+00 2.070e+00 1.810e+00 2.500e+01 1.750e+00
 2.960e+00 1.840e+00 1.670e+00 1.780e+00 3.260e+00 2.020e+00 2.300e+00
 3.350e+00 2.800e+00 2.810e+00 2.530e+00 2.430e+00 1.080e+01 5.060e+00
 2.260e+00 9.170e+00 1.016e+01 1.018e+01 1.900e+00 4.090e+00 2.400e+00
 2.550e+00 1.920e+00 2.090e+00 1.870e+00 2.080e+00 2.620e+00 2.040e+00
 2.730e+00 2.200e+00 1.800e+00 2.110e+00 1.880e+00 1.830e+00 2.230e+00
 2.340e+00 2.360e+00 2.540e+00 2.030e+00 2.570e+00 2.470e+00 2.640e+00
 1.510e+00 1.660e+00 3.420e+00 3.090e+00 5.130e+00 2.850e+00 1.910e+00
 1.040e+01 2.400e+01 8.800e+00 1.970e+00 2.270e+00 2.100e+00]
Weather_Condition: ['Light Rain' 'Overcast' 'Mostly Cloudy' 'Rain' 'Light Snow' 'Haze'
 'Scattered Clouds' 'Partly Cloudy' 'Clear' 'Snow'
 'Light Freezing Drizzle' 'Light Drizzle' 'Fog' 'Shallow Fog' 'Heavy Rain'
 'Light Freezing Rain' 'Cloudy' 'Drizzle' nan 'Light Rain Showers' 'Mist'
 'Smoke' 'Patches of Fog' 'Light Freezing Fog' 'Light Haze'
 'Light Thunderstorms and Rain' 'Thunderstorms and Rain' 'Fair'
 'Volcanic Ash' 'Blowing Sand' 'Blowing Dust / Windy' 'Widespread Dust'
 'Fair / Windy' 'Rain Showers' 'Mostly Cloudy / Windy'
 'Light Rain / Windy' 'Hail' 'Heavy Drizzle' 'Showers in the Vicinity'
 'Thunderstorm' 'Light Rain Shower' 'Light Rain with Thunder'
 'Partly Cloudy / Windy' 'Thunder in the Vicinity' 'T-Storm'
 'Heavy Thunderstorms and Rain' 'Thunder' 'Heavy T-Storm' 'Funnel Cloud'
 'Heavy T-Storm / Windy' 'Blowing Snow' 'Light Thunderstorms and Snow'
 'Heavy Snow' 'Low Drifting Snow' 'Light Ice Pellets' 'Ice Pellets'
 'Squalls' 'N/A Precipitation' 'Cloudy / Windy' 'Light Fog' 'Sand'
 'Snow Grains' 'Snow Showers' 'Heavy Thunderstorms and Snow'
 'Rain / Windy' 'Heavy Rain / Windy' 'Heavy Ice Pellets'
 'Light Snow / Windy' 'Heavy Freezing Rain' 'Small Hail'
 'Heavy Rain Showers' 'Thunder / Windy' 'Drizzle and Fog'
 'T-Storm / Windy' 'Blowing Dust' 'Smoke / Windy' 'Haze / Windy' 'Tornado'
 'Light Drizzle / Windy' 'Widespread Dust / Windy' 'Wintry Mix'
 'Wintry Mix / Windy' 'Light Snow with Thunder' 'Fog / Windy'
 'Snow and Thunder' 'Light Snow Shower' 'Sleet' 'Light Snow and Sleet'

In [ ]:
#EDA
#create dataframe of variables collected at airport for airport_code with null values (i.e., no airport information)
weather_info = accident_data[accident_data.Airport_Code.isna()][['Airport_Code','Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)','Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition']]

In [ ]:
#EDA
#all records that are missing an airport_code are also missing weather information
print('Percentage null when Airport_Code is null:')
for weather in weather_info.columns:
    print('{}: {}%'.format(weather, (weather_info[weather].isna().count()/weather_info.Airport_Code.isna().count())*100))

Percentage null when Airport_Code is null:
Airport_Code: 100.0%
Weather_Timestamp: 100.0%
Temperature(F): 100.0%
Wind_Chill(F): 100.0%
Humidity(%): 100.0%
Pressure(in): 100.0%
Visibility(mi): 100.0%
Wind_Direction: 100.0%
Wind_Speed(mph): 100.0%
Precipitation(in): 100.0%
Weather_Condition: 100.0%

In [ ]:
#null percipitation values are not necessarily due to no rain
accident_data[accident_data['Precipitation(in)'] == 0]

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.010,...,False,False,False,False,False,False,Night,Night,Night,Day
23,A-24,Source2,3,2016-02-08 12:00:00,2016-02-08 12:45:00,40.023487,-82.994888,NaN,NaN,0.010,...,False,False,False,False,False,False,Day,Day,Day,Day
26,A-27,Source2,2,2016-02-08 12:52:05,2016-02-08 13:37:05,39.733219,-84.159653,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
27,A-28,Source2,2,2016-02-08 14:24:48,2016-02-08 15:09:48,39.775303,-84.200523,NaN,NaN,0.000,...,False,False,False,False,True,False,Day,Day,Day,Day
30,A-31,Source2,2,2016-02-08 16:16:08,2016-02-08 16:46:08,40.081459,-83.122398,NaN,NaN,0.010,...,False,False,False,False,True,False,Day,Day,Day,Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.002480,-117.379360,33.99888,-117.37094,0.543,...,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.766960,-117.148060,32.76555,-117.15363,0.338,...,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.775450,-117.847790,33.77740,-117.85727,0.561,...,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.992460,-118.403020,33.98311,-118.39565,0.772,...,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.133930,-117.230920,34.13736,-117.23934,0.537,...,False,False,False,False,False,False,Day,Day,Day,Day

In [ ]:
#looking for cases where Humidity is zero and Percipitation is null (i.e., precipitation should be set to zero)
accident_data[[a and b for a,b in zip(accident_data['Humidity(%)'] == 0,accident_data['Precipitation(in)'].isna())]][['Humidity(%)','Precipitation(in)']]

Empty DataFrame
Columns: [Humidity(%), Precipitation(in)]
Index: []

In [ ]:
#looking for cases where wind speed is zero and wind direction is null (i.e., no wind to have a wind direction)
accident_data[[a and b for a,b in zip(accident_data['Wind_Speed(mph)'] == 0,accident_data['Wind_Direction'].isna())]][['Wind_Speed(mph)','Wind_Direction']]

Empty DataFrame
Columns: [Wind_Speed(mph), Wind_Direction]
Index: []

In [ ]:
#looking to see if wind_speed is zero, is wind_chill null
#for these records, null wind_chill entries should be replaced with temperature
accident_data[[a and b for a,b in zip(accident_data['Wind_Speed(mph)'] == 0,accident_data['Wind_Chill(F)'].isna())]][['Wind_Speed(mph)','Wind_Chill(F)']]

         Wind_Speed(mph)  Wind_Chill(F)
469846               0.0            NaN
507288               0.0            NaN
507359               0.0            NaN
507368               0.0            NaN
507372               0.0            NaN
...                  ...            ...
7719455              0.0            NaN
7721117              0.0            NaN
7721282              0.0            NaN
7724877              0.0            NaN
7727054              0.0            NaN

[5482 rows x 2 columns]

In [ ]:
#looking to see if wind_speed is zero if there is a wind chill
accident_data[[a and not b for a,b in zip(accident_data['Wind_Speed(mph)'] == 0,accident_data['Wind_Chill(F)'].isna())]][['Wind_Speed(mph)','Wind_Chill(F)']]

         Wind_Speed(mph)  Wind_Chill(F)
43488                0.0           70.0
44266                0.0           63.0
44410                0.0           65.0
44568                0.0           84.0
44570                0.0           84.0
...                  ...            ...
7728358              0.0           64.0
7728361              0.0           81.0
7728364              0.0           82.0
7728375              0.0           82.0
7728381              0.0           82.0

[956161 rows x 2 columns]

In [ ]:
#looking for null values in both wind speed and wind chill
accident_data[[a and b for a,b in zip(accident_data['Wind_Speed(mph)'].isna(),accident_data['Wind_Chill(F)'].isna())]][['Wind_Speed(mph)','Wind_Chill(F)']]

         Wind_Speed(mph)  Wind_Chill(F)
0                    NaN            NaN
1                    NaN            NaN
33                   NaN            NaN
90                   NaN            NaN
95                   NaN            NaN
...                  ...            ...
7728156              NaN            NaN
7728162              NaN            NaN
7728250              NaN            NaN
7728305              NaN            NaN
7728332              NaN            NaN

[571233 rows x 2 columns]

In [4]:
#for reference when categorizing based on numerical and categorical
accident_data.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [10]:
#categorized variables based on numerical, categoric, and datetime
#description is excluded

numerical = [
       'Start_Lat', 'Start_Lng',
       'End_Lat', 'End_Lng', 'Distance(mi)','Number','Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)','Wind_Speed(mph)', 'Precipitation(in)'
]

categorical = [
    'Severity','Street', 'City', 'Zipcode', 'County', 'State','Country','Timezone','Airport_Code','Wind_Direction','Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'
]

datetime = [
        'datetime_start_parsed', 'datetime_end_parsed', 'datetime_weathertime_parsed'
]

In [5]:
#since dataset is over 1 GB, taking a sample of 1% of data for analysis
accident_sample = accident_data.sample(int(len(accident_data)/100))
print('Percentage of data sampled: {}%'.format((len(accident_sample)/len(accident_data))*100))

Percentage of data sampled: 0.9999878370590319%

## GEOPANDAS

In [12]:
#import geopandas and geoplot libraries
import geopandas
import geoplot as gplt
import geoplot.crs as gcrs

In [ ]:
#create dataframe of variables I'm interested in looking at on a map plus lat/lng variables
severity_locations = accident_data[['Temperature(F)','Wind_Chill(F)','Severity','Start_Lng','Start_Lat']]

In [ ]:
#create a GeoDataFrame
gdf_severity = geopandas.GeoDataFrame(
    severity_locations, geometry=geopandas.points_from_xy(severity_locations.Start_Lng, severity_locations.Start_Lat))

In [ ]:
#generate map with hue based on severity
gdfs_sample = gdf_severity.sample(int(len(gdf_severity)/10))
print('{} accidents'.format(int(len(gdfs_sample))))

contiguous_usa = geopandas.read_file(gplt.datasets.get_path('contiguous_usa'))
ax = gplt.polyplot(
    contiguous_usa,
    projection=gcrs.AlbersEqualArea(),
    figsize=(20, 20)
)
gplt.pointplot(gdfs_sample, ax=ax, hue=gdfs_sample.Severity, scale=gdfs_sample.Severity, legend=True, legend_var='hue')
plt.show()

In [ ]:
#generate map with hue based on temperature
gdfs_sample = gdf_severity.sample(int(len(gdf_severity)/10))
print('{} accidents'.format(int(len(gdfs_sample))))

contiguous_usa = geopandas.read_file(gplt.datasets.get_path('contiguous_usa'))
ax = gplt.polyplot(
    contiguous_usa,
    projection=gcrs.AlbersEqualArea(),
    figsize=(20, 20)
)
gplt.pointplot(gdfs_sample, ax=ax, hue=gdfs_sample['Temperature(F)'],scale=gdfs_sample['Temperature(F)'], legend=True, legend_var='hue')
plt.show()

In [ ]:
#generate a map with hue based on wind chill
gdfs_sample = gdf_severity.sample(int(len(gdf_severity)/10))
print('{} accidents'.format(int(len(gdfs_sample))))

contiguous_usa = geopandas.read_file(gplt.datasets.get_path('contiguous_usa'))
ax = gplt.polyplot(
    contiguous_usa,
    projection=gcrs.AlbersEqualArea(),
    figsize=(20, 20)
)
gplt.pointplot(gdfs_sample, ax=ax, hue=gdfs_sample['Wind_Chill(F)'],scale=gdfs_sample['Wind_Chill(F)'], legend=True, legend_var='hue')
plt.show()

## Data Transformation

In [ ]:
# Data transformation
#parse dates and times
import datetime
accident_data['datetime_start_parsed'] = pd.to_datetime(accident_data['Start_Time'], format="%Y-%m-%d %H:%M:%S")
accident_data['datetime_end_parsed'] = pd.to_datetime(accident_data['End_Time'], format="%Y-%m-%d %H:%M:%S")
accident_data['datetime_weathertime_parsed'] = pd.to_datetime(accident_data['Weather_Timestamp'], format="%Y-%m-%d %H:%M:%S")

## Data cleaning

In [ ]:
#view sorted Weather_Conditions to determine changes to be made
weather_condition = accident_data.Weather_Condition.unique().astype('str')
weather_condition.sort()
weather_condition

In [ ]:
#make changes to Weather_Condition since some entries are similar
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Thunder','Thunderstorm')
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('T-Storm','Thunderstorm')

accident_data.Weather_Condition = accident_data.Weather_Condition.replace('T-Storm / Windy','Thunderstorm / Windy')
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Thunder / Windy','Thunderstorm / Windy')

accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Heavy Rain Shower','Heavy Rain')
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Heavy Rain Showers','Heavy Rain')

accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Light Rain Shower','Light Rain')
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Light Rain Showers','Light Rain')

accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Rain Shower','Rain')
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('Rain Showers','Rain')

In [ ]:
# EDA

#view unique values of Wind_Direction
accident_data.Wind_Direction.unique()

In [ ]:
#replace entries in Wind_Direction to be consistent with notation
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('West','W')
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('Variable','VAR')
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('South','S')
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('Calm','CALM')
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('East','E')
accident_data.Wind_Direction = accident_data.Wind_Direction.replace('North','N')

In [ ]:
#make all zipcodes 5 digit                           
zipcodes = pd.DataFrame(accident_data[[not a for a in accident_data['Zipcode'].isna()]]['Zipcode'].str[:5])
zipindex = np.array(accident_data[accident_data.Zipcode.notnull()].index)
accident_data.loc[zipindex,'Zipcode'] = zipcodes.loc[:,'Zipcode']

In [ ]:
#remove start/end/weather time (already parsed)  and remove Number which has 65% null values
accident_data = accident_data.drop(['ID','Start_Time','End_Time', 'Weather_Timestamp','Number'], axis=1)

In [ ]:
#remove Number from numerical array
numerical.remove('Number')

In [ ]:
#N/A Precipitation must mean virtually no rain
accident_data[accident_data.Weather_Condition == 'N/A Precipitation']['Precipitation(in)'].mean()

In [ ]:
#replace N/A Precipitation with NaN to be imputed with most frequent
accident_data.Weather_Condition = accident_data.Weather_Condition.replace('N/A Precipitation', np.NaN)

In [ ]:
#determine index then lat/lng for missing city, zipcode, and timezone data
citynullindex = np.array(accident_data[accident_data.City.isna()].index)
citynulllatlng = accident_data.loc[citynullindex, ['Start_Lat','Start_Lng']]

zipnullindex = np.array(accident_data[accident_data.Zipcode.isna()].index)
zipnulllatlng = accident_data.loc[zipnullindex, ['Start_Lat','Start_Lng']]

acnullindex = np.array(accident_data[accident_data.Airport_Code.isna()].index)

tznullindex = np.array(accident_data[accident_data.Timezone.isna()].index)
tznulllatlng = accident_data.loc[tznullindex, ['Start_Lat','Start_Lng']]

In [ ]:
#initialize Nominatim for finding missing cities and zipcodes based on lat/lng
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

In [ ]:
#fill in missing cities
for i in citynullindex:
    location = geolocator.reverse(citynulllatlng.loc[i,'Start_Lat'].astype('str')+","+citynulllatlng.loc[i,'Start_Lng'].astype('str'))
    address = location.raw['address']
    city = address.get('city', '')
    accident_data.loc[i,'City'] = city
    
#fill in missing zipcodes
for i in zipnullindex:
    location = geolocator.reverse(zipnulllatlng.loc[i,'Start_Lat'].astype('str')+","+zipnulllatlng.loc[i,'Start_Lng'].astype('str'))
    address = location.raw['address']
    zipcode = address.get('postcode')
    accident_data.loc[i,'Zipcode'] = zipcode
    #if cannot locate zipcode with geolocator, fill in zipcode mode for the state
    if zipcode == None:
        accident_data.loc[i,'Zipcode'] = accident_data[accident_data['State'] == accident_data.loc[i,'State']]['Zipcode'].mode(dropna=True)[0]

In [ ]:
#replace missing airport_code data with most common airport_code for each state
ac_states = pd.DataFrame(accident_data.loc[acnullindex,'State'].unique(), columns=['State'])
for i in range(0,len(ac_states)):
    ac_states.loc[i,'Mode'] = accident_data[accident_data.State == ac_states.loc[i,'State']]['Airport_Code'].mode(dropna=True)[0]
for i in acnullindex:
    accident_data.loc[i,'Airport_Code'] = ac_states[ac_states['State'] == accident_data.loc[i,'State']]['Mode'].tolist()[0]

In [ ]:
#fill in missing time zones
from timezonefinder import TimezoneFinder
obj = TimezoneFinder()
for i in tznullindex:
    timezone = obj.timezone_at(lng=tznulllatlng.loc[i,'Start_Lng'], lat=tznulllatlng.loc[i,'Start_Lat'])
    accident_data.loc[i,'Timezone'] = timezone

In [ ]:
#copy values from start lat/lng to end lat/lng for null values
latnull = np.array(accident_data[np.isnan(accident_data.End_Lat)].index)
accident_data.loc[latnull,'End_Lat'] = accident_data.loc[latnull,'Start_Lat']
lngnull = np.array(accident_data[np.isnan(accident_data.End_Lng)].index)
accident_data.loc[lngnull,'End_Lng'] = accident_data.loc[lngnull,'Start_Lng']

#replace missing wind chill data with temperature
wcnull = np.array(accident_data[np.isnan(accident_data['Wind_Chill(F)'])].index)
accident_data.loc[wcnull,'Wind_Chill(F)'] = accident_data.loc[i,'Temperature(F)']

#replace missing temperature data with wind chill
tempnull = np.array(accident_data[np.isnan(accident_data['Temperature(F)'])].index)
accident_data.loc[wcnull,'Temperature(F)'] = accident_data.loc[i,'Wind_Chill(F)']

#replace missing data for when the weather was collected based on end time of the accident
weathertimenull = np.array(accident_data[np.isnan(accident_data.datetime_weathertime_parsed)].index)
accident_data.loc[weathertimenull,'datetime_weathertime_parsed'] = accident_data.loc[weathertimenull,'datetime_end_parsed']

In [ ]:
#variables to impute with median or mode strategy
median_impute = ['Temperature(F)','Wind_Chill(F)','Humidity(%)','Pressure(in)','Visibility(mi)','Wind_Speed(mph)','Precipitation(in)']
mode_impute = ['Wind_Direction','Weather_Condition','Sunrise_Sunset','Civil_Twilight', 'Nautical_Twilight','Astronomical_Twilight']

In [ ]:
#mode impute (SimpleImputer for loop is too slow)
wdnull = np.array(accident_data[accident_data.Wind_Direction.isna()].index)
accident_data.loc[wdnull,'Wind_Direction'] = 'CALM'

wcnull = np.array(accident_data[accident_data.Weather_Condition.isna()].index)
accident_data.loc[wcnull,'Weather_Condition'] = 'Fair'

ssnull = np.array(accident_data[accident_data.Sunrise_Sunset.isna()].index)
accident_data.loc[ssnull,'Sunrise_Sunset'] = 'Day'

ctnull = np.array(accident_data[accident_data.Civil_Twilight.isna()].index)
accident_data.loc[ssnull,'Civil_Twilight'] = 'Day'

ntnull = np.array(accident_data[accident_data.Nautical_Twilight.isna()].index)
accident_data.loc[ssnull,'Nautical_Twilight'] = 'Day'

atnull = np.array(accident_data[accident_data.Astronomical_Twilight.isna()].index)
accident_data.loc[atnull,'Astronomical_Twilight'] = 'Day'

## Data transformation

In [ ]:
#impute variables with median values
import numpy as np
from sklearn.impute import SimpleImputer

imputer1 = SimpleImputer(missing_values=np.nan, strategy='median')
accident_data_median_fit = imputer1.fit_transform(accident_data[median_impute])
accident_data_median = imputer1.transform(accident_data_median_fit)

accident_data[median_impute] = pd.DataFrame(accident_data_median)

In [ ]:
# EDA
#print number and percentage of null entries per variable
print('Null values per variable')
for column in accident_data.columns:
    print('{}: {} ({}%)'.format(column,pd.isnull(accident_data[column]).sum(),(pd.isnull(accident_data[column]).sum()/len(accident_data))*100))

In [ ]:
#seperate variables with dates and times into seperate columns
for col in datetime:
    accident_data['{} day'.format(col)] = accident_data[col].dt.day
    accident_data['{} month'.format(col)] = accident_data[col].dt.month
    accident_data['{} year'.format(col)] = accident_data[col].dt.year
    accident_data['{} hour'.format(col)] = accident_data[col].dt.hour
    accident_data['{} minute'.format(col)] = accident_data[col].dt.minute
    accident_data['{} second'.format(col)] = accident_data[col].dt.second
    numerical.append('{} day'.format(col))
    numerical.append('{} month'.format(col))
    numerical.append('{} year'.format(col))
    numerical.append('{} hour'.format(col))
    numerical.append('{} minute'.format(col))
    numerical.append('{} second'.format(col))

#remove datetime columns from dataframe     
accident_data = accident_data.drop(datetime, axis=1)

In [ ]:
#sample dataframe
accident_sample = accident_data[numerical].sample(int(len(accident_data)/100))

In [ ]:
#standardize sample
accident_data_for_PCA_standardized = (accident_sample - accident_sample.mean(axis=0)) / accident_sample.std(axis=0)

from sklearn.decomposition import PCA

# Create principal components
pca = PCA(6)
accident_data_pca = pca.fit_transform(accident_data_for_PCA_standardized)

# Convert to dataframe
component_names = [f"PC{i+1}" for i in range(accident_data_pca.shape[1])]
accident_data_pca = pd.DataFrame(accident_data_pca, columns=component_names)

#accident_data_pca.head()

In [ ]:
loadings = pd.DataFrame(
    pca.components_.T,  # transpose the matrix of loadings
    columns=component_names,  # so the columns are the principal components
    index=numerical,  # and the rows are the original features
)
loadings

In [ ]:
#create variables for the change in lat and lng for each accident
accident_data['abs_lng_change'] = abs(accident_data.End_Lng - accident_data.Start_Lng)
accident_data['abs_lat_change'] = abs(accident_data.End_Lat - accident_data.Start_Lat)

#add new variables to numerical variables list
numerical.append('abs_lng_change')
numerical.append('abs_lat_change')